.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.section{
  display: flex;
  flex-direction: row;
  height:max-content;
} 
.first-section{
 background-color: aquamarine;
 width: 30%;
 min-height: 100vh;
 max-height: max-content;
}
.meme-form{
  display: inline-block;
  width: 60%;
  text-align: center;
  border: 2px solid black;
  padding: 15px;
  position: relative;
  top: 50%;
  transform: translate(0,-50%);
  align-items: center;
  justify-content: center;
}
input{
  width: 80%;
  padding: 2px;
  margin: 5px;
}
.second-section{
  width: 70%;
  min-height: 100vh;
  max-height: max-content;
  background-color: black;
}
.meme {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  margin: auto;
}
 
.meme > img {
  width: 70%;
  
}
 
.meme > h2 {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000;
  font-size: 2rem;
}
 
.meme > .bottom {
  bottom: 0;
}
 
.meme > .top {
  top: 0;
}

@media screen and (max-width: 992px) {
  .section{
    flex-direction: column;
  }
  .first-section{
    display: block;
    width: 100%;
    height: 200px;
    min-height: 0px;
  }
  .second-section{
    width: 100%;
    max-height: max-content;
     position: relative;
  }
  .meme{
    position: absolute;
    width: 80%;
  }
}
